:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --acent-color: #2196f3;
  --title-list-color: #ffffff;
  --secondary-bg-color: #2f303a;
  --logo-text-color: #000000;
  --button-bg-color: #f5f4fa;
  --footer-text-color: rgba(255, 255, 255, 0.6);
}

body {
  background-color: var(--title-list-color);
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}
.list {
  list-style: none;
}
.logo {
  color: var(--logo-text-color);

  font-family: Raleway, cursive;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
.logo .logo-accent {
  color: var(--acent-color);
}
.address {
  font-style: inherit;
}
/* Site nav */
.site-nav .link {
  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav .link:focus,
.site-nav .link:hover {
  color: var(--acent-color);
}
.site-nav .link.current {
  color: var(--acent-color);
}

/* Auth nav */
.auth-nav .link {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.auth-nav .link-item {
  color: var(--footer-text-color);

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
.auth-nav .link:focus,
.auth-nav .link:hover {
  color: var(--acent-color);
}
.auth-nav .link-item:focus,
.auth-nav .link-item:hover {
  color: var(--acent-color);
}

/* Services */
.services,
.services-title {
  color: var(--title-list-color);
  background-color: var(--secondary-bg-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* Section, Work, Tem*/
.features-title {
  color: var(--primary-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.features-text {
  color: var(--title-text-color);

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
.work,
.team {
  text-align: center;
}
.work-title,
.team-title {
  color: var(--primary-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
.team-subtitle {
  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.team-text {
  color: var(--title-text-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}
/* Прячем заголовок */
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/* Portfolio */
.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-text {
  color: var(--title-text-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
}

/* Подвал */
.footer {
  background-color: var(--secondary-bg-color);
}
.footer .logo {
  color: var(--title-list-color);
}

/* Кнопки */
.button {
  color: var(--primary-text-color);
  background-color: var(--button-bg-color);
  cursor: pointer;
  font-family: inherit;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}
.button.primary {
  color: var(--title-list-color);
  background-color: var(--acent-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
}
.button:focus,
.button:hover {
  color: var(--title-list-color);
  background-color: var(--acent-color);
}
.button.current {
  color: var(--title-list-color);
  background-color: var(--acent-color);
}
